<ion-view title="Account">
  <ion-content class="padding">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 18.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg snap-svg version="1.1" id="beer-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 23.2 31.8" enable-background="new 0 0 23.2 31.8" xml:space="preserve" style="height: 50px; width: 50px;" snap-animate="t0,0" snap-time="500">
      <g>
        <polygon fill="#FFFFFF" points="19.1,30.8 4.1,30.8 1.1,1.1 22.1,1.1   "/>
        <polygon id="beer-liquid" fill="#DCDBDB" points="19.1,30.8 4.1,30.8 1.1,6.6 22.1,6.6   "/>
        <polygon fill="none" stroke="#ABABAB" stroke-width="2" stroke-miterlimit="10" points="19.1,30.8 4.1,30.8 1.1,1 22.1,1   "/>
        <line fill="none" stroke="#ABABAB" stroke-width="2" stroke-miterlimit="10" x1="1.7" y1="6.6" x2="21.5" y2="6.6"/>
        <rect x="9.7" y="28.2" fill="#ABABAB" width="1" height="1"/>
        <rect x="12" y="26.7" fill="#ABABAB" width="1" height="1"/>
        <rect x="13" y="9.8" fill="#ABABAB" width="1" height="1"/>
        <rect x="12.7" y="22.7" fill="#ABABAB" width="1" height="1"/>
        <rect x="10" y="18.7" fill="#ABABAB" width="1" height="1"/>
        <rect x="8.7" y="24.7" fill="#ABABAB" width="1" height="1"/>
        <rect x="12.9" y="28.9" fill="#ABABAB" width="1" height="1"/>
      </g>
    </svg>

  </ion-content>
</ion-view>
